*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.nav-left{
    width: 30%;
    display: flex;
    justify-content: space-between;
margin-left: 5%;
}
input{
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    margin-top: 10%;
    margin-left: -20%;

}
button{
    height: 30px;
    background-color: white;
    border: 1px solid gray;
    margin-left: -2%;
    margin-top: 5%;
}
.nav-left>img{
width: 180px;
height: 80px;
}
.nav-right{
    width: 30%;
margin-right: 4%;
}
#feed{
    display: flex;
    color: gray;
}
#login{
    display: flex;
}
#wel{
    margin-left: 65%;
    margin-top: -4%;
}
#log{
    margin-left: 4%;
}
#cart{
    width: 20px;
    height: 20px;
    margin-top: 1%;
    margin-left: 3px;
    margin-bottom: 4%;
}
#container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 3%;
    height: 60%;
    margin: auto;
}
#container>div{
    /* width: 22%; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: auto;
    
    
}
.footer{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #f2f2f2;
    margin: auto;
    margin-top: 60%;
    justify-content: space-between;
    
}
.footer>div>h3{
    color: 
    #f3a92d;
}
.footer>div>p{
    color:grey ;
    font-size: 14px;
}
.footer>div>button{
    background-color: #f3a92d;
    color: white;
    margin-top: 11%;
}

#fimg{
    width: 200px;
    height: 200px;
    margin-top: 10%;
    margin-left: -18%;
    
}
#laDiv{
display: flex;
}
.footer>div{
    margin-top: 2%;
}
#cat{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    margin: auto;
    margin-top: -20px;
}
#cat>p{
    margin-left: 2%;
    font-size: 13px;
    cursor: pointer;
    /* margin-bottom: 10%; */
}